
section.page-view div.container {
    padding: 80px 30px;
}

.margin-top-min-75 {
    margin-top: -75px;
}

.contact-details {
    font-family: monospace;
    font-size: 28px;
    
}

.contact-details h2, .h2{font-size: 28px; line-height: 34px; color: #bf6529; font-weight: 300; margin-bottom: 5px;}

.containerproduct {
    margin-top: 75px;
}

.product-heading {
    background: #d4d4d4;
    margin-bottom: 9px;
    text-align: center;
    font-size: xx-large;
        padding-top: 5px;
    padding-bottom: 5px;
}

.map-box.type-20 {
    height: 225px;
    margin-top: 0;
}

.map-overlay-info-stores {
    height: 287px;
    width: 320px;
    padding: 0 24px;
    overflow: hidden;
    margin-top: -281px;
    float: right;
    position: relative;
    background: rgb(200, 208, 198);
    margin-right: 0px;
}

.stores-cover-raw {
    padding: 10px;
    background: #423b3a;
}

.store-heading-raw {
    font-size: x-large;
    background: aliceblue;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

#map-canvas-stores {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100%; */
    /* height: 100%; */
}

.button.style-deler-login {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #e67122;
    border: 2px #262626 solid;
    background: #262626;
    letter-spacing: 2px;
}

.button.style-deler-register {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #262626;
    border: 2px #e67122 solid;
    background: #e67122;
    letter-spacing: 2px;
}

/*.cart-table th:first-child{padding-left: 100px!important;}*/

@media screen and (max-width: 546px) {
    .main-banner{
        position: sticky;
        padding-top: 100px !important;
    }

    #logo img {
    display: block;
    width: 100%;
    padding-top: 25px;
    margin-left: -39px;
   }

   .header-functionality-entry .fa {
    font-size: 37px;   
    margin-right: 32px;
    margin-top: 15px;
   }
}

@media screen and (min-width: 786px) {
     .main-banner{
        position: sticky;
        padding-top: 75px !important;
    }
}


