@media only screen and (min-width: 1200px) {
    .p-3x {
        width:25% !important;
    }
    .product-slide-entry {
        width: 100%;
    }

}





.range-product-list {
    float: left;
    padding: 5px 8px;
    cursor: pointer;
    /* display: block; */
    /* border: 2px solid; */
}


.range-product-list:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.11);
    
}

.product-image .top-line-a:hover {
    background: none !important;
    color: #000 !important;
}


.product-image .top-line-a.right {
    right: 0px !important;
}
.product-image:hover .top-line-a.right {
     right: 0px !important; 
}
.product-image .top-line-a {
    background: none !important;
}

.product-slide-entry .product-image {
    margin-bottom: 0px !important;
}
.range-product-head {
    max-height: 60px;
}
span.range-wish-list {
    font-size: 24px;
    color: #e9e9e9;
}
.range-product-list:hover span.range-wish-list {
-webkit-transition: color 2s ease-out;
-moz-transition:  color 2s ease-out;
-o-transition:  color 2s ease-out;
transition: color 2s ease-out;
color: #00aff0;

}

a.range-quick-view {
    color: #000;
    font-size: 12px;

    margin-top: 10px;
    display: none;
}
.range-product-list:hover a.range-quick-view {
    display: block;
}
.fff{
    color: #fff !important;
}
.bottom-aligned{
    position: relative;
    margin-bottom: 0px;
}